.bg-cross {
  background-color: var(--color-cross);
}

.bg-cross-dark {
  background-color: var(--color-cross-dark);
}

.bg-nought {
  background-color: var(--color-nought);
}

.bg-nought-dark {
  background-color: var(--color-nought-dark);
}

.color-cross {
  color: var(--color-cross);
}

.color-nought {
  color: var(--color-nought);
}

.outline-cross {
  outline: 2px solid var(--color-cross);
}

.outline-nought {
  outline: 2px solid var(--color-nought);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
