.bg-cross {
  background-color: var(--color-cross);
}

.bg-cross-dark {
  background-color: var(--color-cross-dark);
}

.bg-nought {
  background-color: var(--color-nought);
}

.bg-nought-dark {
  background-color: var(--color-nought-dark);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.info-container {
  padding: 0.5rem;
}

.info-container > .info-container-row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  margin-bottom: 0.5rem;
}

.info-container > .info-container-row:last-child {
  margin-bottom: 0;
}

.board-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.board-spacer {
  margin: auto;
  padding: 1rem;
}

.board {
  border-spacing: 0;
}

.board-cell {
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--color-default);
}

.board-row:first-child > .board-cell {
  border-top: none;
}

.board-row:last-child > .board-cell {
  border-bottom: none;
}

.board-row > .board-cell:first-child {
  border-left: none;
}

.board-row > .board-cell:last-child {
  border-right: none;
}

.board-cell-button {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  background: none;
  border: none;
  transition: all 0.1s linear;
}

.board-cell-button.active {
  cursor: pointer;
}

.board-cell-button.active:hover {
  background-color: var(--color-background-light);
}

.board-cell-mark {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-default);
}

.current-mark-icon {
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
  border-radius: var(--border-radius-default);
}

.score-mark-container {
  margin: 0 0.5rem;
  padding: 0.1rem 0.4rem;
  border-width: 3px;
  border-style: solid;
  border-radius: var(--border-radius-default);
}

.score-mark-container-cross {
  border-color: var(--color-cross);
}

.score-mark-container-nought {
  border-color: var(--color-nought);
}
