.win-count {
  margin: 0 0.5rem;
  padding: 0.25rem 1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: var(--border-radius-default);
}

.win-count-cross {
  color: var(--color-cross);
  border-color: var(--color-cross);
}

.win-count-nought {
  color: var(--color-nought);
  border-color: var(--color-nought);
}
