:root {
  --font-family: "Roboto Mono";

  --color-background: #11002e;
  --color-background-light: #4a376a;
  --color-default: #c5a4ff;

  --color-cross: #eeff00;
  --color-cross-dark: #5c6200;
  --color-nought: #ff006f;
  --color-nought-dark: #62002b;

  --border-radius-default: 20px;
}
