:root {
  --color-background: #20212c;
  --color-background-light: #343648;
  --color-default: #a2a9c4;

  --color-cross: #c00;
  --color-cross-dark: #700;
  --color-nought: #00c;
  --color-nought-dark: #007;

  --border-radius-default: 5px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-default);
  font-family: "Verdana";
}

#root {
  height: 100%;
  width: 100%;
}
